body{
    margin: 0;
    padding: 0;
}
.home-content{
    padding-top: 10%;
}
.home{
    overflow: hidden;
    
    color: #fff;
    background-image: url(assets/bg.jpg);
    font-family: 'Alegreya', serif;
    text-align: center;
    background-size: 100% 100%; 
    height: 100vh;
}


.home h1{
    padding: 0;
    margin: 0;
    font-size: 80px;
}
.home .welcome{
    padding: 0;
    margin: 0;
    font-size: 30px;
}
.home .home-desc{
    width: 50%;
    margin: auto;
    margin-bottom: 4%;
    font-size: 30px;
}
.home .home-buttons button{
    font-size: 20px;
    font-family: 'Alegreya', serif;
    border-radius: 6%;
    color: #fff;
    padding: 15px 25px;
    margin: 15px;
    -webkit-border-radius: 6%;
    -moz-border-radius: 6%;
    -ms-border-radius: 6%;
    -o-border-radius: 6%;
}
.home .home-buttons .learn-more{
    border: none;
    background-color: #8e7754;
}
.home .home-buttons .contact-us{
    border: solid #fff 2px;
    background-color: transparent;
}
ul.navbar {
    
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    
}

ul.navbar li {
    float: left;
}

ul.navbar li.right {
    margin-right:30px;
    float: right;
}

ul.navbar li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.logo-image {
    float: left;
    margin-right: 30px;
    height: 50px;
}
.who-us{
    padding: 5%;
    overflow: hidden;
}
.who-us-image{
    float: left;
    width: 40%;
}
.who-us-image img{
    width: 100%;
}
.who-us-desc{
    margin-left: 50px;
    font-size: 20px;
    margin-top: 3%;
    font-family: 'Alegreya', serif;
    float: left;
    width: 55%;
}
.who-us .who-us-desc p{
    padding-bottom: 3px;
    color: rgb(118, 118, 118);
}
.who-us .who-us-desc h3{
    font-size: 35px;
    color: rgb(43, 43, 43);
}
.who-us .who-us-desc .items-list .item img{
    box-sizing:content-box;
    border: 1px solid rgb(224, 129, 39);
    border-radius:50% ;
    margin-right: 10px;
    float: left;
    width: 4%;
    -webkit-border-radius:50% ;
    -moz-border-radius:50% ;
    -ms-border-radius:50% ;
    -o-border-radius:50% ;
}
.our-location{
    padding: 5%;
    background-color: #f6f4f4;
    font-family: 'Alegreya', serif;
    color: rgb(118, 118, 118);

    overflow: hidden;
}
.our-location .location-desc{
    
    font-size: 20px;
    margin-top: 3%;
    width: 55%;
    float: left;
}
.our-location .location-desc h3{
    font-size: 30px;
}
.our-location .location-image{
    width: 40%;
    float: right;
}
.our-location .location-image img{
    
    width: 100%;
}
.baking{
   
    overflow: hidden;
    width: 100%;
    text-align: center;
    font-family: 'Alegreya', serif;
}

.baking .baking-items .item{
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px;
    float: left;
    width: 30%;
}
.baking .baking-items .item img{
    
    width: 70%;
}
.baking .baking-title h2{
font-size: 30px;
}
.baking .baking-items .item p{
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
}
.contact{
    font-family: 'Alegreya', serif;
    overflow: hidden;
    padding-left: 2%;
    padding-top: 2%;
    
}

.contact .contact-desc{
    
    float: left;
    width: 50%;
}
.contact .contact-desc h2{
    font-size: 40px;
}
.contact .contact-desc p{
    font-size: 20px;
}
.contact .contact-map{
   
    float: right;
    width: 50%;
}
.contact .contact-desc .contact-item{
    padding: 10px;
    overflow: hidden;
}
.contact .contact-desc .contact-item img{
    
    margin-right: 10px;
    float: left;
    width: 5%;
}
.contact .contact-desc .contact-item p{
    float: left;
}


.footer{
   padding-bottom: 2%;
    font-family: 'Alegreya', serif;
    background-color: #403d38;
    overflow: hidden;
}
.footer .details .footer-item{
    float: left;
    width: 24%;
}
.footer .details .about-us{
    padding-right: 15px;
    padding-left: 15px;
}
.footer .details .why-we{
    padding-left: 15px;
}

.footer .details .footer-item h4{
    font-size: 20px;
    color: #fff;
}
.footer .details .footer-item p{
    font-size: 20px;
    color: #848080;
}
.footer .details .footer-item .hr{
    text-align: center;
    width: 80%;
    background-color: gray;
    height: 1px;
}

.footer-logo{
    overflow: hidden;
    margin: auto;
    color: rgb(143, 130, 130);
    background-color: #353330;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.social-icon{
    width: 2%;
    margin: 10px;
    border-radius: 100%;
    padding: 10px;
    float: left;
    background-color: #484540;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
.facebook{
    width: 2%;
    margin-left: 42%;
    border-radius: 100%;
    padding: 10px;
    float: left;
    background-color: #484540;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
.social-icon img{
    width:100%;
    background-color: #484540;
}